.studyContainer {
  padding-left: 2rem;
  padding-right: 2rem; }

.cardContainer {
  height: 40vh;
  position: relative; }

.studylist {
  padding-top: 2rem;
  height: 100%;
  width: 100%; }

.cardDetails {
  padding-top: 2rem; }
